* {
	padding: 0; margin: 0;
}

div, span, input, button, textarea, ul, li, a {
	box-sizing: border-box;
	font-family: inherit;
}

*:focus, *:active,  input:focus, textarea:focus, button:focus {
    outline: none !important;
}

#full-page {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	&:before, &:after {
		content: '';
		display: table;
		clear: both;
	}
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

.clearfix:before, .clearfix:after {
	content: '';
	display: table;
	clear: both;
}

::-webkit-input-placeholder {
  color: inherit;
   opacity: 1;
   transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

input::-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

input:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

:-ms-input-placeholder {
  color: inherit;
   opacity: 1;
   transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

:placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

:focus::-webkit-input-placeholder {
  opacity: 0.4; }

input:focus::-moz-placeholder {
  opacity: 0.4; }

input:focus:-moz-placeholder {
  opacity: 0.4; }

:focus:-ms-input-placeholder {
  opacity: 0.4; }

:focus:placeholder {
  opacity: 0.4; }
  
 i {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0.2em;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

*, *:after, *:before {
	box-sizing: border-box;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-bottom: 0.2em;
    margin-right: 5px;
}