@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400|Roboto+Slab:400,300,700&subset=latin,cyrillic-ext);
* {
  padding: 0;
  margin: 0; }

div, span, input, button, textarea, ul, li, a {
  box-sizing: border-box;
  font-family: inherit; }

*:focus, *:active, input:focus, textarea:focus, button:focus {
  outline: none !important; }

#full-page {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  .container:before, .container:after {
    content: '';
    display: table;
    clear: both; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  clear: both; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

input::-moz-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

input:-moz-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

:placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  text-overflow: ellipsis; }

:focus::-webkit-input-placeholder {
  opacity: 0.4; }

input:focus::-moz-placeholder {
  opacity: 0.4; }

input:focus:-moz-placeholder {
  opacity: 0.4; }

:focus:-ms-input-placeholder {
  opacity: 0.4; }

:focus:placeholder {
  opacity: 0.4; }

i {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2em; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

*, *:after, *:before {
  box-sizing: border-box; }

input[type="checkbox"] {
  vertical-align: middle;
  margin-bottom: 0.2em;
  margin-right: 5px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14.58px;
  line-height: 1.3; }

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 15.42px;
  position: relative; }

.btn-yellow {
  background: #f9ce00;
  background: -webkit-linear-gradient(top, #fad800, #f9ce00, #f9ce00);
  background: linear-gradient(to bottom, #fad800, #f9ce00, #f9ce00);
  box-shadow: 0 3px 0 #cca000;
  color: #6e4f1c; }
  .btn-yellow:hover {
    background: -webkit-linear-gradient(bottom, #fad800, #f9ce00, #dcae03);
    background: linear-gradient(to top, #fad800, #f9ce00, #dcae03); }
  .btn-yellow:active {
    box-shadow: none;
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }

.btn-blue {
  background: #26a3d1;
  background: -webkit-linear-gradient(top, #33b5e5, #26a3d1, #1992be);
  background: linear-gradient(to bottom, #33b5e5, #26a3d1, #1992be);
  box-shadow: 0 3px 0 #086b8f;
  color: #fdfdfd; }
  .btn-blue:hover {
    background: -webkit-linear-gradient(bottom, #33b5e5, #26a3d1, #1992be);
    background: linear-gradient(to top, #33b5e5, #26a3d1, #1992be); }
  .btn-blue:active {
    box-shadow: none;
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }

.btn-white {
  background: transparent;
  border: solid 1px #89a8bc;
  color: #fdfdfd;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .btn-white:hover {
    background: #024672; }

i {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2em; }

.i-call {
  width: 13px;
  height: 14px;
  background: url(../img/i_phone3.png) no-repeat center center; }

.btn-blue-square {
  background: #4399cf;
  background: -webkit-linear-gradient(left, #428ebd 0, #428ebd 44px, #4399cf 44px, #4399cf 100%);
  background: linear-gradient(to right, #428ebd 0, #428ebd 44px, #4399cf 44px, #4399cf 100%);
  padding: 9px 9px  9px 53px;
  min-width: 188px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14.58px;
  color: #fdfdfd;
  text-transform: none; }
  .btn-blue-square:hover {
    background: #428ebd;
    background: -webkit-linear-gradient(left, #2672a1 0, #2672a1 44px, #428ebd 44px, #428ebd 100%);
    background: linear-gradient(to right, #2672a1 0, #2672a1 44px, #428ebd 44px, #428ebd 100%); }

.btn-fullwidth {
  width: 100%; }

.btn-save:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 15px;
  background: url(../img/i_save.png) no-repeat center center;
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto; }

.btn-stats:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  background: url(../img/i_stats.png) no-repeat center center;
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto; }

.btn-wallet:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(../img/i_wallet.png) no-repeat center center;
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto; }

.site-header {
  position: relative;
  z-index: 100; }

.header-line-1 {
  background: #126ba3;
  height: 36px;
  line-height: 36px;
  text-align: right;
  color: #fdfdfd;
  font-size: 14.58px; }
  .header-line-1 span, .header-line-1 a {
    display: inline-block;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
    color: inherit;
    text-decoration: none; }
  .header-line-1 a {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .header-line-1 a:hover {
      opacity: 0.8; }

.hl1-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  border-left: solid 1px #084c77;
  line-height: 36px;
  height: 36px; }
  .hl1-item:first-child {
    padding-left: 35px;
    padding-right: 35px; }
  .hl1-item:nth-child(2) {
    padding-left: 25px;
    padding-right: 25px; }
  .hl1-item:last-child {
    border-right: solid 1px #084c77; }

.head-greating {
  padding: 0 25px;
  background: url(../img/i_hello.png) no-repeat left center; }

.head-logout {
  padding-left: 28px;
  background: url(../img/i_logout.png) no-repeat left center; }

.head-balance {
  padding-left: 37px;
  background: url(../img/i_balance.png) no-repeat left center; }

.head-callme {
  padding-left: 46px;
  padding-right: 22px;
  background: url(../img/i_phone2.png) no-repeat 22px center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .head-callme:hover {
    opacity: 0.8; }

.header-logo {
  float: left;
  width: 215px; }

.header-line-2 {
  background: #01060c url(../img/menu_bg.jpg) no-repeat center bottom;
  background-size: cover;
  color: #fdfdfd;
  padding: 12px 0 30px;
  position: relative; }

.header-menu {
  margin-left: 215px;
  text-align: right;
  padding-top: 27px; }
  .header-menu ul {
    list-style: none; }
  .header-menu li {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle; }
  .header-menu a {
    display: inline-block;
    padding: 1px 0;
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    font-weight: 600; }
  .header-menu li.active a, .header-menu a:hover {
    border-color: #c2e8ff; }

input[type=text], input[type=tel], input[type=email], input[type=submit], input[type=password], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  width: 100%;
  padding: 9px 24px;
  border-radius: 4px;
  background: white;
  border: solid 1px #939291;
  font-size: 14.58px;
  color: #717170; }

select {
  width: 100%;
  padding: 9px 20px;
  border-radius: 4px;
  background: white;
  border: solid 1px #939291;
  font-size: 14.58px;
  color: #717170; }

.page-bg {
  background: url(../img/page_bg.jpg) no-repeat center top;
  padding: 55px 0 135px;
  position: relative;
  z-index: 1; }

.content-section {
  margin-bottom: 50px; }

.cs-head {
  position: relative;
  padding: 20px 50px 20px 82px;
  overflow: hidden;
  background: url(../img/csh_left.png) no-repeat 33px center, url(../img/csh_right.png) no-repeat right 22px center;
  font-size: 20.83px;
  font-weight: 700;
  color: #fdfdfd; }
  .cs-head h2 {
    margin: 0;
    font: inherit; }
  .cs-head:before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    bottom: 0;
    right: -500px;
    background: #347299;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: skewX(-45deg);
            transform: skewX(-45deg);
    z-index: -1; }

.cs-body {
  padding: 30px 30px 40px;
  background: #f6fbff;
  border: solid 1px #cdcccd;
  border-top: none;
  position: relative; }
  .cs-body:after {
    content: '';
    position: absolute;
    left: 5px;
    right: 5px;
    top: 100%;
    height: 6px;
    border: solid 1px #cdcccd;
    background: #fff; }
  .cs-body p {
    margin-bottom: 20px; }
  .cs-body button[type=submit] {
    margin-top: 35px; }
    .cs-body button[type=submit].btn-wallet {
      margin-top: 10px; }

.cs-short {
  max-width: 700px; }

.form-table {
  width: 100%;
  table-layout: fixed; }
  .form-table td {
    padding: 7px; }
    .form-table td:first-child {
      padding-left: 0; }
    .form-table td:last-child {
      padding-right: 0; }

.app-name-cell {
  width: 35%; }

.country-cell {
  width: 15%; }

.app-name {
  width: 50%; }

label {
  font-weight: 600; }
  label input, label select {
    margin-top: 8px; }

hr {
  border: 0;
  height: 1px;
  background: #ccced1;
  margin: 23px 0; }

.table-with-price {
  margin-right: -32px; }

.price-table {
  float: left;
  width: 60%; }

.price-after-table {
  float: left;
  width: 40%;
  margin-top: 15px;
  padding: 20px 55px;
  background: url(../img/ribbon.png) no-repeat right center;
  font-weight: 600;
  font-size: 13px;
  color: #334f6e;
  min-height: 64px;
  text-align: right; }
  .price-after-table span {
    display: inline-block;
    margin-left: 17px;
    vertical-align: middle;
    font-size: 20.83px;
    font-weight: 700;
    margin-bottom: 0.25em; }

.switch {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #878784;
  z-index: 1;
  overflow: hidden;
  background: #ffffff; }
  .switch input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/on_off.png) no-repeat center -71px; }

.slider:before {
  position: absolute;
  content: "";
  top: 0;
  width: 50%;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: 0;
  box-shadow: 1px 0 0 #878784, -1px 0 0 #878784;
  background: #da251d;
  z-index: -1; }

input:checked + .slider {
  background-position: center 12px; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  margin-right: 50%;
  background: #84c225; }

.for_tabs {
  display: table;
  list-style: none;
  width: 100%; }
  .for_tabs li {
    display: table-cell;
    vertical-align: middle;
    width: 1000px;
    background: #347299;
    border: solid 1px #cecece;
    border-bottom: none; }
    .for_tabs li:first-child {
      position: relative; }
      .for_tabs li:first-child:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #efeeee;
        border-bottom: solid 1px #cecece;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: -5px;
        left: -5px; }
  .for_tabs a {
    display: block;
    text-align: center;
    padding: 20px 5px;
    text-align: center;
    font-size: 20.83px;
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: none; }
  .for_tabs li.active {
    background: white url(../img/csh_left.png) no-repeat 32px center; }
    .for_tabs li.active a {
      color: #4d7195;
      padding-left: 55px; }

.companies-list {
  width: 100%;
  border-collapse: collapse;
  color: #717170;
  margin: 30px 0; }
  .companies-list th, .companies-list td {
    padding: 18px 10px;
    vertical-align: middle;
    border-top: solid 1px #dededd; }
    .companies-list th:first-child, .companies-list td:first-child {
      padding-left: 0; }
    .companies-list th:last-child, .companies-list td:last-child {
      padding-right: 0;
      text-align: right; }
  .companies-list th {
    font-weight: normal;
    text-align: center; }

.cell-tags {
  width: 180px; }

.cell-country {
  width: 108px; }

.cell-number-options {
  width: 218px; }

.options-row {
  display: table;
  width: 198px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0; }
  .options-row > div {
    display: table-cell;
    text-align: center;
    padding: 7px 5px;
    border: solid 1px #92908f;
    border-right: 0; }
    .options-row > div:first-child {
      border-radius: 4px 0 0 4px; }
    .options-row > div:last-child {
      border-radius: 0 4px 4px 0;
      border-right: solid 1px #92908f; }
    #options-input {
		border: none;
		padding: 0px 0px; 
		text-align: center; }

.tabs > div {
  background: white;
  padding: 30px 30px 40px;
  position: relative;
  border: solid 1px #cecdcd;
  border-top: 0; }
  .tabs > div:after {
    content: '';
    position: absolute;
    left: 5px;
    right: 5px;
    top: 100%;
    height: 6px;
    border: solid 1px #cdcccd;
    background: #fff; }

.cell-name {
  font-weight: 600; }

.white-bg {
  background: white; }

.cs-left-full {
  margin-left: -30px; }

.left-form {
  float: left;
  width: 455px; }

.cs-right-table {
  margin-left: 515px; }

.blue-form {
  padding: 35px 62px 56px;
  background: #dde8f0; }
  .blue-form input {
    margin-bottom: 15px; }
  .blue-form button {
    margin-top: 15px; }
  .blue-form.bordered {
    border: solid 1px #d5d5d5;
    border-radius: 4px; }

.striped-table {
  width: 100%;
  border-collapse: collapse; }
  .striped-table th {
    border-bottom: solid 1px #dededd;
    font-weight: normal;
    text-align: left;
    color: #717170;
    padding: 0 20px 22px; }
  .striped-table td {
    font-weight: 600;
    border-bottom: solid 1px #dededd;
    color: #2f2e2d;
    padding: 14px 20px;
    text-align: left; }
  .striped-table tr:nth-child(even) td {
    background: #f9f9f9; }
  .striped-table tr.total td {
    background: #e8e8e7; }

.cs-body h3 {
  font-weight: 600;
  font-size: 16.67px;
  color: #347299; }

.referral-title {
  padding-left: 42px;
  margin-bottom: 60px;
  background: url(../img/i_referral.png) no-repeat left center; }

.invites-title {
  padding-left: 42px;
  margin-bottom: 40px;
  margin-top: 74px;
  background: url(../img/i_referral2.png) no-repeat left center; }

.pc-bg {
  background-image: url(../img/pc.png);
  background-repeat: no-repeat;
  background-position: right 90px bottom 0; }

.referral-earned {
  color: #2a4973; }

.payment-options {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 8px;
  border-collapse: separate;
  margin-bottom: 18px; }

.payment-option {
  border-radius: 4px;
  display: table-cell;
  border: solid 1px #959493; }
  .payment-option .payment-image {
    position: relative;
    background: -webkit-linear-gradient(top, #ffffff, #eae9e8);
    background: linear-gradient(to bottom, #ffffff, #eae9e8);
    cursor: pointer;
    border-radius: 4px;
    height: 72px; }
    .payment-option .payment-image img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 80%;
      max-height: 80%; }
  .payment-option input {
    display: none; }
  .payment-option input:checked + .payment-image {
    background: #dde8f0; }
    .payment-option input:checked + .payment-image:after {
      content: '';
      position: absolute;
      width: 13px;
      height: 8px;
      left: 0;
      right: 0;
      bottom: -8px;
      margin: auto;
      background: url(../img/blue_corner.png) no-repeat center top; }

.wallet-bg {
  background-image: url(../img/wallet.png);
  background-repeat: no-repeat;
  background-position: right 50px bottom 0; }

.checkout-amount {
  max-width: 410px; }

.footer-top {
  background: #126ba3;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  color: #fdfdfd;
  padding: 42px 0 47px; }
  .footer-top .btn {
    font-size: 14.58px;
    text-transform: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 7px; }
    .footer-top .btn i {
      margin-right: 25px; }

.ft-left {
  float: left; }

.ft-right {
  float: right;
  padding-top: 6px; }

.footer-bottom {
  background: #1a5980;
  color: #fdfdfd;
  font-size: 13.75px;
  padding: 15px 0; }

.footer-nav {
  float: left;
  width: calc(100% - 230px); }
  .footer-nav ul {
    list-style: none; }
  .footer-nav li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px; }
  .footer-nav a {
    color: inherit;
    text-decoration: none; }
    .footer-nav a:hover {
      text-decoration: underline; }

.copyright {
  float: right;
  width: 230px;
  text-align: right; }

#full-page {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  background: #efeeee; }
  
#full-page-reg {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: #efeeee; }

.site-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }

.login-bg {
  width: 100%;
  display: table;
  background: #010204 url(../img/login_bg.jpg) no-repeat center bottom;
  background-size: cover;
  color: #fdfdfd;
  table-layout: fixed; }

.login-holder {
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
  padding: 95px 0 125px; }

.login-container {
  max-width: 525px;
  margin: 0 auto; }

.login-top {
  max-width: 298px;
  margin: 0 auto 55px; }

.lang-menu ul {
  list-style: none; }

.lang-menu a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 13.75px; }
  .lang-menu a:hover {
    color: #f0ca30; }

.lang-menu li {
  display: inline-block;
  margin-right: 2px; }
  .lang-menu li.active a {
    color: #f0ca30; }

.login-center {
  border: solid 2px #086b8f;
  border-radius: 4px;
  text-align: center;
  padding: 40px 10px 15px; }
  .login-center h1 {
    font: bold 29.17px 'Roboto Slab', serif;
    margin: 0 0 25px; }
  .login-center input[type=text], .login-center input[type=tel], .login-center input[type=email], .login-center input[type=submit], .login-center input[type=password], .login-center textarea {
    border: none;
    background-color: white;
    background-position: 20px center;
    background-repeat: no-repeat;
    color: #717170;
    font-size: 13.75px;
    padding: 12px 10px 12px 55px;
    margin-bottom: 12px;
    border-radius: 4px; }
  .login-center a {
    color: inherit; }
  .login-center .btn {
    width: 100%;
    margin-bottom: 25px; }

.login-center-inner {
  max-width: 335px;
  margin: 0 auto; }

.input-login {
  background-image: url(../img/i_login.png); }

.input-pass {
  background-image: url(../img/i_password.png); }

.input-email {
  background-image: url(../img/i_mail.png); }

.login-left {
  float: left;
  margin: 25px 0; }

.login-right {
  float: right;
  margin: 25px 0; }

.login-bottom {
  margin-top: 35px;
  border: solid 2px #4e818f;
  border-radius: 4px;
  padding: 20px 0; }

.login-bottom-holder {
  width: 100%;
  display: table;
  table-layout: fixed; }

.login-bottom-left, .login-bottom-right {
  display: table-cell;
  vertical-align: middle; }

.login-bottom-left {
  text-align: center;
  width: 40%; }
  .login-bottom-left h4 {
    font: bold 14.58px 'Open Sans', sans-serif; }

.login-bottom-right {
  padding-left: 35px;
  text-align: left;
  position: relative;
  font-size: 14.58px;
  width: 60%; }
  .login-bottom-right p {
    margin: 10px 0; }
  .login-bottom-right a {
    text-decoration: none;
    color: inherit; }
  .login-bottom-right:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #4e818f; }

.captcha-container {
  text-align: center;
  margin: 10px 0 20px; }
  .captcha-container > div {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }

/*
 * jQuery Basic Table
 * Author: Jerry Low
 */
table.bt thead,
table.bt tbody th {
  display: none; }

table.bt tr {
  border-bottom: solid 1px gray; }

table.bt .text-center, table.bt td {
  text-align: left !important; }

table.bt td, table.bt th {
  padding-top: 6px;
  padding-bottom: 6px; }

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
  border: none;
  display: block;
  vertical-align: top; }

table.bt tfoot th:before,
table.bt tfoot td:before,
table.bt tbody td:before {
  content: attr(data-th) " ";
  width: 50%;
  display: inline-block;
  color: #97816e; }

table.bt tfoot th.bt-hide,
table.bt tfoot td.bt-hide,
table.bt tbody td.bt-hide {
  display: none; }

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
  vertical-align: middle;
  display: inline-block;
  width: 50%;}

.bt-content {
  text-align: center; }

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

@media screen and (min-width: 1024px) {
  .toggle-menu, .mobile-menu {
    display: none !important; } }

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 12px 6px;
  background: #01060c;
  max-height: 415px;
  max-height: calc(100vh - 65px); }
  .mobile-menu a {
    text-decoration: none;
    color: inherit; }
  .mobile-menu ul {
    list-style: none;
    padding: 10px 0; }
    .mobile-menu ul a {
      display: block;
      padding: 7px 0; }
    .mobile-menu ul li {
      display: block; }
  .mobile-menu .hl1-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none !important;
    display: block;
    height: auto; }
  .mobile-menu .head-callme {
    padding-left: 25px;
    padding-right: 0;
    background-position: left center; }
  .mobile-menu .head-greating {
    display: block;
    padding-right: 0; }
  .mobile-menu .head-balance, .mobile-menu .head-logout {
    padding-left: 25px; }

@media screen and (max-width: 1150px) {
  .container {
    padding-left: 6px;
    padding-right: 6px; } }

@media screen and (max-width: 1023px) {
  .header-line-1, .header-menu {
    display: none; }
  .toggle-menu {
    display: block;
    float: right;
    width: 60px;
    height: 40px;
    border: solid 1px #fdfdfd;
    border-radius: 4px;
    position: relative;
    cursor: pointer; }
    .toggle-menu span {
      width: 30px;
      height: 2px;
      background: #fdfdfd;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
      .toggle-menu span:before, .toggle-menu span:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        background: #fdfdfd; }
      .toggle-menu span:before {
        top: -7px; }
      .toggle-menu span:after {
        bottom: -7px; }
  .header-logo {
    width: 107px; }
  .header-line-2 {
    padding: 12px 0; } }

@media screen and (max-width: 900px) {
  .footer-nav, .copyright {
    float: none;
    width: auto;
    text-align: left;
    margin: 5px 0; }
  .price-after-table {
    background-position: 10px center;
    padding: 20px 15px; }
  .for_tabs a {
    font-size: 15px; }
  .cs-right-table {
    margin-left: 400px; }
  .left-form {
    width: 350px; }
  .blue-form {
    padding: 35px 15px 56px; } }

@media screen and (max-width: 799px) {
  .country-cell {
    width: 25%; }
  .for_tabs li.active {
    background-image: none; }
    .for_tabs li.active a {
      padding-left: 5px; }
  .left-form {
    width: auto;
    float: none; }
  .cs-left-full {
    margin-left: 0; }
  .cs-right-table {
    margin-left: 0;
    margin-top: 40px; } }

@media screen and (max-width: 639px) {
  .destroy-mobile {
    display: block !important;
    width: auto !important; }
    .destroy-mobile tr, .destroy-mobile th, .destroy-mobile td, .destroy-mobile tbody, .destroy-mobile thead {
      display: block !important;
      width: auto !important;
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .price-table {
    float: none;
    width: auto; }
  .table-with-price {
    margin-right: 0; }
  .price-after-table {
    float: right;
    width: 351px;
    max-width: 100%; }
  .cs-body {
    padding: 20px 6px; }
  .tabs > div {
    padding: 20px 6px; }
  .options-row {
    width: 140px; }
  .page-bg {
    padding: 35px 0; } }

@media screen and (max-width: 530px) {
  .login-container {
    padding-left: 6px;
    padding-right: 6px; } }

@media screen and (max-width: 480px) {
  .login-holder {
    padding: 15px 0; }
  .login-bottom-right {
    padding-left: 10px;
    font-size: 10px; }
  .login-top {
    max-width: 150px;
    margin: 0 auto 15px; }
  .login-center {
    padding: 10px 10px 15px; }
  .ft-left {
    width: 107px;
    padding-top: 7px; }
  .ft-right {
    padding-top: 0; }
  .footer-top {
    padding: 15px 0; }
  .footer-nav li {
    display: block;
    margin-right: 0; }
  .footer-nav a {
    display: inline-block;
    padding: 7px 0; }
  .footer-nav, .copyright {
    text-align: center; }
  .cs-head {
    font-size: 15px; } }

@media screen and (max-width: 479px) {
  .footer-top .btn i {
    margin-right: 10px; }
  .payment-options {
    border-spacing: 1px; } }


[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 90%;
  left: 30%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 90%;
  left: 25%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=../maps/style.css.map */
